@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&family=Ubuntu&display=swap');

@import '~vue-atlas/dist/vue-atlas.css';

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Segoe-UI.ttf')  format('truetype');
}

* {
  font-family: 'Segoe UI', 'Oxygen', 'Roboto', 'Ubuntu', sans-serif;
}

body {
  overflow-x: hidden;
}

.space,
#conversations ul li:last-child {
  cursor: pointer;
}

.va-dropdown-con .va-dropdown-menu {
  margin-top: 12px;
}

.va-sidebar-group-item-text a {
  font-size: 16px;
}

.va-sidebar-group-item-icon {
  margin-right: 16px;
}

.va-sidebar-treenavigation {
  padding: 0 22px 0 10px;
}

.va-sidebar--theme-blue .va-sidebar-group-item,
.va-sidebar--theme-blue .va-sidebar-group-item:hover {
  height: 40px;
}

.va-breadcrumb-item-inner.va-breadcrumb-link {
  text-transform: capitalize;
}

#brand .va-sidebar-group-title:first-child {
  font-size: 2em;
  height: 40px;
  text-transform: none;
}

#conversations {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.text-align-center {
  text-align: -webkit-center;
}

.full-height {
  height: 100vh;
}

.swimlane {
  padding: 0px 10px;
}

.lane {
  padding-right: 10px;
  height: 100vh;
}

.lane .va-card:hover {
  cursor: -webkit-grab;
}

.ghost {
  opacity: 0.4;
}

.ghost,
.sortable-chosen,
.sortable-chosen.ghost {
  cursor: -webkit-grabbing !important;
}

.card {
  padding: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.va-sidebar-group-item-icon i {
  font-size: 16px !important;
}

.va-page-loading .va-loading-lg {
  height: 100vh;
}

.va-page-container-lg .va-spinner {
  margin-top: auto;
  margin-bottom: auto;
  height: 70vh;
}

.border-bottom-1 {
  border-bottom: 1px solid #E0E2E6;
}

.otp-input {
  width: 40px !important;
  height: 40px !important;
  padding: 5px !important;
  margin: 0 10px !important;
  font-size: 20px !important;
  border-radius: 4px !important;
  background: #feffea !important;
  color: black !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  text-align: center !important;
  text-transform: uppercase !important;
}

.otp-input.error {
  border: 1px solid red !important;
}

#localTrack2 {
  /* position: absolute;
  background: #00000a69;
  height: 10rem;
  bottom: 85px;
  float: left;
  width: 13rem;
  left: 15px; */
}
#localTrack2 > video {
  float: right;
  width: 15%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
#remoteTrack2 {
  /* background: #000000;
  padding: 0px;
  margin: 0px auto;
  width: -webkit-fill-available;
  height: 100vh; */
  width: max-content !important;
}
#remoteTrack2 video {
  width: -webkit-fill-available;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}