@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&family=Ubuntu&display=swap');

@import '~vue-atlas/dist/vue-atlas.css';

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Segoe-UI.ttf')  format('truetype');
}

* {
  font-family: 'Segoe UI', 'Oxygen', 'Roboto', 'Ubuntu', sans-serif;
}

body {
  overflow-x: hidden;
}

.space {
  cursor: pointer;
}

.va-page-container-md {
  padding: 0px !important;
}

.va-dropdown-con .va-dropdown-menu {
  margin-top: 12px;
}

.va-sidebar-group-item-text a {
  font-size: 16px;
}

.va-sidebar-group-item-icon {
  margin-right: 16px;
}

.va-sidebar-treenavigation {
  padding: 0 22px 0 10px;
}

.va-sidebar--theme-blue .va-sidebar-group-item,
.va-sidebar--theme-blue .va-sidebar-group-item:hover {
  height: 40px;
}

.va-breadcrumb-item-inner.va-breadcrumb-link {
  text-transform: capitalize;
}

#brand .va-sidebar-group-title:first-child {
  font-size: 2em;
  height: 40px;
  text-transform: none;
}

#conversations {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.text-align-center {
  text-align: -webkit-center;
}

.full-height {
  height: 100vh;
}

.swimlane {
  padding: 0px 10px;
}

.lane {
  height: 100vh;
}

.ghost {
  opacity: 0;
}

.card {
  padding: 10px;
}

.va-sidebar-group-item-icon i {
  font-size: 16px !important;
}

#chatInput {
  min-height: 40px !important;
}